* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: sans-serif;
	box-sizing: border-box;
}

.container {
	min-width: 375px;
	display: grid;
	width: 100%;
	min-width: 360px;
	max-width: 100%;
	background-color: white;
	grid-gap: 0px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
		'header header'
		'servicios servicios'
		'planes planes'
		'info info'
		'provedores provedores'
		'footer footer';
}

/*header*/

/*Animaci贸n de Bot贸n*/
svg #grupo1 #esfera {
	animation: movimiento 1.5s infinite;
}

svg {
	width: 50px;
	cursor: pointer;
}

@keyframes movimiento {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(160px);
		opacity: 0%;
	}
}

header {
	grid-area: header;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	overflow: hidden;
}

nav {
	height: 100px;
	width: 100%;
	padding: 0 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.5s;
	z-index: 100;
}

nav.sticky {
	background-color: rgb(7, 130, 212);
	height: 60px;
}

nav.sticky ul {
	top: 60px;
}

nav.sticky i {
	color: white;
}

nav.sticky a {
	color: white;
}

.logo {
	height: 75px;
}

.redes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.redes a {
	padding: 0px 5px;
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0 5px;
}

nav ul li a {
	color: blue;
	font-size: 14px;
	padding: 7px 5px;
}

li a:hover {
	color: rgb(54, 99, 248);
	transition: 0.5s;
}

.check-btn {
	font-size: 30px;
	color: white;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

.slider-h {
	display: flex;
	width: 400%;
	height: 54rem;
	margin-left: -100%;
}

.slide1, .slide2, .slide3, .slide4 {
	width: 100%;
	display: block;
}

.slide1 {
	background-image: url('img/banner.jpg');
	background-position: center;
	background-size: cover;
}

.slide2 {
	background-image: url('img/banner2.jpg');
	background-position: center;
	background-size: cover;
}

.slide3 {
	background-image: url('img/banner3.jpg');
	background-position: center;
	background-size: cover;
}

.slide4 {
	background-image: url('img/banner4.jpg');
	background-position: center;
	background-size: cover;
}

.banner {
	margin-top: 18rem;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-content {
	width: 100%;
}

.flecha1,
.flecha2 {
	display: flex;
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 4, 255, 0.596);
	top: 47%;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	transition: 0.8s;
	cursor: pointer;
}

.flecha1 {
	left: 10px;
}

.flecha2{
	right: 10px;
}

.flecha1:hover,
.flecha2:hover {
	background-color: rgba(33, 17, 255, 0.993);
}

.banner h1 {
	font-size: 25px;
}
.banner h2 {
	font-size: 22px;
	color: rgb(95, 93, 93);
}
.banner h3 {
	margin-top: 8px;
	font-size: 18px;
	color: rgb(24, 147, 248);
	margin-bottom: 3rem;
}
.banner a {
	font-size: 17px;
	border: 2px solid rgb(24, 147, 248);
	padding: 18px 34px;
	border-radius: 2px;
	color: rgb(24, 147, 248);
	transition: 0.4s;
}

.banner a:hover {
	background-color: rgb(24, 147, 248);
	color: white;
}

.boton-animado {
	margin-top: 12rem;
	text-align: center;
}

/*Fin del Header*/

/*Inicio de Secci贸n Servicios*/

.servicios {
	display: flex;
	flex-direction: column;
	grid-area: servicios;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	width: 100%;
}

.servicios h2 {
	font-size: 25px;
	color: rgb(0, 140, 255);
}

.servicios p {
	width: 80%;
	margin-top: 1rem;
	font-size: 16px;
}

.slider-automatico {
	margin-top: 4rem;
	margin-bottom: 4rem;
	overflow: hidden;
	width: 90%;
}

.slider-automatico ul {
	display: flex;
	width: 189%;
	animation: cambio 10s infinite alternate;
}

.slider-automatico i {
	font-size: 40px;
	margin-bottom: 2rem;
	color: rgba(0, 0, 0, 0.507);
}

.slider-automatico h3 {
	color: rgba(0, 0, 0, 0.589);
	font-size: 14px;
}

.slider-automatico ul li {
	background-color: rgb(255, 248, 255);
	border-radius: 40px;
	padding: 20px 15px;
	width: 47.25%;
	margin: 2% 2%;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 10px #888888;
	justify-content: center;
}

@keyframes cambio {
	0% {
		margin-left: 0;
	}
	20% {
		margin-left: -40%;
	}
	20% {
		margin-left: -40%;
	}
	40% {
		margin-left: -40%;
	}
	40% {
		margin-left: -80%;
	}
	60% {
		margin-left: -80%;
	}
	60% {
		margin-left: -120%;
	}
	80% {
		margin-left: -160%;
	}
	80% {
		margin-left: -160%;
	}
	100% {
		margin-left: -180%;
	}
}

.texto {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
}

.texto .img-sec1 {
	width: 100%;
}

.texto .img-sec1 img {
	display: none;
}

.texto .texto-sec1 {
	width: 100%;
	font-size: 16px;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.texto .texto-sec1 p {
	margin-bottom: 30px;
	width: 100%;
}

.texto .texto-sec1 ul li {
	padding: 12px 0;
}

.texto-sec1 .borde-li {
	border-bottom: 2px solid rgba(128, 128, 128, 0.473);
}

.texto .texto-sec1 ul li i {
	color: blue;
}

.datos-moviles {
	background-color: rgb(11, 165, 236);
	margin-top: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 25px;
}

.datos-moviles ul {
	display: flex;
	width: 90%;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	flex-wrap: wrap;
}

.datos-moviles li {
	display: flex;
	flex-direction: column;
	margin: 2rem 1rem;
	width: 13rem;
	transition: 0.8s ease-in-out;
	opacity: 0;
	transform: translateY(-4rem);
}

.datos-moviles ul li i {
	font-size: 32px;
	margin-bottom: 0.4rem;
}

.datos-moviles span {
	font-size: 30px;
	margin-bottom: 0.4rem;
}

.datos-moviles li.visible {
	opacity: 1;
	transform: translateY(0rem);
}

/*Fin de Servicios*/

/*Inicio de Secci贸n planes de salud*/

.planes-salud {
	margin-top: 4rem;
	grid-area: planes;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.planes-salud h2 {
	font-size: 25px;
	color: rgb(0, 89, 255);
	margin-bottom: 1rem;
}

.planes-salud p {
	color: black;
	font-size: 16px;
	text-align: center;
	width: 70%;
	margin-bottom: 4rem;
}

.planes-salud .planes {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	margin-bottom: 3rem;
	flex-direction: column;
}

.planes-salud .planes a {
	width: 50%;
	padding: 17px;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 10px #888888;
	transition: 0.8s ease-in-out;
	opacity: 0;
	margin: 1rem auto;
	transform: translateY(-4rem);
}

.planes-salud .planes a:hover {
	width: 53%;
}

.planes-salud .planes .visible {
	opacity: 1;
	transform: translateY(0);
}

.planes-salud .planes a img {
	width: 100%;
}

.planes-salud .planes-boton {
	font-size: 20px;
	color: white;
	background-color: rgb(0, 89, 255);
	padding: 10px 0;
	width: 50%;
	text-align: center;
	margin-bottom: 3.5rem;
	transition: 0.4s;
	border-radius: 4px;
}

.planes-salud .planes-boton:hover {
	background-color: blue;
}

/*Fin planes de salud*/

/*Inicio de Informacion*/

.informacion {
	grid-area: info;
	width: 100%;
	background-color: rgb(0, 183, 255);
	display: flex;
	flex-direction: column;
	padding: 60px;
}

.barra1,
.barra2,
.barra3,
.barra4,
.barra5,
.barra6,
.barra7 {
	display: flex;
	justify-content: space-between;
	transition: 0.5s;
	font-size: 12px;
}

#imagen-info {
	opacity: 0;
	transform: translateX(-4rem);
	transition: 0.8s ease-in-out;
}

#imagen-info.visible {
	opacity: 1;
	transform: translateX(0rem);
}

.texto-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: center;
	color: white;
}

.texto-info li {
	padding: 8px 0;
	transition: 0.5s;
	cursor: pointer;
}

.barra1:hover,
.barra2:hover,
.barra3:hover,
.barra4:hover,
.barra5:hover,
.barra6:hover,
.barra7:hover {
	color: blue;
}

.texto-info li p {
	margin-top: 1rem;
	display: none;
	text-align: justify;
}

.texto-info h2 {
	margin-top: 2rem;
	font-size: 20px;
	text-align: center;
	margin-bottom: 1rem;
}

.texto-info p {
	font-size: 14px;
	margin-bottom: 1rem;
	text-align: center;
}

.texto-info .borde-li2 {
	border-top: 2px solid white;
}

.img-info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
	align-self: flex-start;
}

.img-info img {
	width: 80%;
}

/*Fin de Informacion*/

/*Inicio de Provedor*/

.provedor {
	margin-top: 3rem;
	grid-area: provedores;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
}

.provedor h2 {
	font-size: 22px;
	color: rgb(0, 102, 255);
	margin-bottom: 1.5rem;
}

.provedor p {
	font-size: 15px;
	margin-bottom: 2rem;
	width: 100%;
}

.provedor-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}

.imagen-boton {
	width: 100%;
}

.imagen-boton .imagen-provedores {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.imagen-provedores img {
	width: 100%;
}

.lista-provedor {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.089);
	display: flex;
	flex-direction: column;
	font-size: 10px;
	text-align: left;
	padding: 1.5rem 0;
	align-items: center;
}

.separador-p {
	border-left: 2px dashed rgba(128, 128, 128, 0.288);
}

.lista-provedor ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.lista-provedor .h-d {
	display: flex;
	margin-bottom: 1rem;
	font-size: 8px;
}

.lista-provedor .h-d i {
	margin-right: 3px;
}

.lista-provedor p {
	font-size: 6px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.589);
}

.lista-provedor ul li {
	padding: 0rem 1rem;
	width: 22%;
}

.boton-provedores {
	display: flex;
	justify-content: center;
	align-items: center;
}

.provedor-buton {
	width: 88%;
	background-color: rgb(0, 110, 255);
	padding: 0.9rem 0;
	text-align: center;
	color: white;
	border-radius: 3px;
	transition: 0.5s;
}

.provedor-buton:hover {
	background-color: rgb(81, 153, 247);
}

/*Fin de Provedor*/

/*Inicio de Footer*/

.footer {
	background-color: rgb(0, 110, 255);
	grid-area: footer;
	padding: 1.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 6px;
	width: 100%;
}

.contacts a {
	color: white;
	margin-left: 0.2rem;
}

/*Fin de Footer*/

/*Icon*/
.ws-icon {
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 35px;
	right: 30px;
	background-color: rgb(7, 211, 7);
	color: white;
	border-radius: 100px;
	align-items: center;
	display: flex;
	justify-content: center;
	transition: 0.5s;
}

.ws-icon:hover {
	width: 60px;
	height: 60px;
}

.ws-icon i {
	font-size: 32px;
}

/*Responsive Nav Bar*/
@media (max-width: 1024px) {
	.check-btn {
		display: flex;
		color: blue;
	}
	nav {
		padding: 0 30px;
	}
	nav ul {
		position: absolute;
		width: 100%;
		height: calc(100vh - 80px);
		background-color: rgb(97, 244, 255);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
		flex-direction: column;
		z-index: 10;
	}
	nav ul li {
		margin: 20px 0;
	}
	nav ul li a {
		font-size: 20px;
	}
	nav li a:hover {
		color: rgb(72, 168, 212);
	}
	#check:checked ~ ul {
		left: 0;
	}
}

/*Ajuste de 428px*/
@media (min-width: 427px) {
	header {
		height: 58rem;
	}
	@keyframes cambio {
		0% {
			margin-left: 0;
		}
		20% {
			margin-left: -35%;
		}
		20% {
			margin-left: -35%;
		}
		40% {
			margin-left: -70%;
		}
		40% {
			margin-left: -70%;
		}
		60% {
			margin-left: -105%;
		}
		60% {
			margin-left: -105%;
		}
		80% {
			margin-left: -135%;
		}
		80% {
			margin-left: -135%;
		}
		100% {
			margin-left: -150%;
		}
	}
	.flecha1, .flecha2 {
		top: 40%;
	}
}

/*Ajuste de 550px*/
@media (min-width: 550px) {
	@keyframes cambio {
		0% {
			margin-left: 0;
		}
		25% {
			margin-left: -29%;
		}
		25% {
			margin-left: -29%;
		}
		50% {
			margin-left: -58%;
		}
		50% {
			margin-left: -58%;
		}
		75% {
			margin-left: -92%;
		}
		75% {
			margin-left: -92%;
		}
		100% {
			margin-left: -108%;
		}
	}
	.footer {
		font-size: 8px;
	}
	
	.contacts a {
		margin-left: 0.2rem;
	}
}

/*Ajuste de 805px*/
@media (min-width: 805px) {
	@keyframes cambio {
		0% {
			margin-left: 0;
		}
		25% {
			margin-left: -25%;
		}
		25% {
			margin-left: -25%;
		}
		50% {
			margin-left: -50%;
		}
		50% {
			margin-left: -50%;
		}
		75% {
			margin-left: -75%;
		}
		75% {
			margin-left: -75%;
		}
		100% {
			margin-left: -90%;
		}
	}
	header {
		height: 70rem;	
	}
	.slider-h {
		height: 70rem;
	}
	.lista-provedor p {
		font-size: 12px;
	}
	.banner {
		margin-top: 25rem;
	}
	.flecha1,
	.flecha2 {
		padding: 80px 30px;
	}

	.flecha1 i,
	.flecha2 i {
		font-size: 35px;
	}

	.banner h1 {
		font-size: 45px;
	}
	.banner h2 {
		margin-top: 1.5rem;
		font-size: 30px;
	}
	.banner h3 {
		margin-top: 1rem;
		font-size: 25px;
	}
	.banner a {
		font-size: 30px;
		border: 2px solid rgb(24, 147, 248);
		padding: 18px 34px;
	}
	svg {
		margin-top: 2rem;
		width: 65px;
	}
	.footer {
		font-size: 12px;
	}
	
	.contacts a {
		margin-left: 1rem;
	}
	.img-info img {
		width: 70%;
	}
}

/*Responsive Tablet Grande*/
@media (min-width: 1024px) {
	header {
		height: 86rem;
	}
	.slider-h {
		height: 86rem;
	}
	.boton-animado {
		margin-top: 7rem;
	}
	@keyframes cambio {
		0% {
			margin-left: 0;
		}
		25% {
			margin-left: -28%;
		}
		25% {
			margin-left: -28%;
		}
		50% {
			margin-left: -56%;
		}
		50% {
			margin-left: -56%;
		}
		75% {
			margin-left: -84%;
		}
		75% {
			margin-left: -84%;
		}
		100% {
			margin-left: -92%;
		}
	}
	.lista-provedor p {
		font-size: 14px;
	}
	.banner {
		margin-top: 30rem;
	}
	.flecha1,
	.flecha2 {
		padding: 80px 30px;
	}

	.flecha1 i,
	.flecha2 i {
		font-size: 35px;
	}

	.banner h1 {
		font-size: 65px;
	}
	.banner h2 {
		margin-top: 1.5rem;
		font-size: 50px;
	}
	.banner h3 {
		margin-top: 1rem;
		font-size: 35px;
	}
	.banner a {
		font-size: 30px;
		border: 2px solid rgb(24, 147, 248);
		padding: 18px 34px;
		margin-top: 2rem;
	}
	svg {
		margin-top: 12rem;
		width: 90px;
	}
	.barra1,
	.barra2,
	.barra3,
	.barra4,
	.barra5,
	.barra6,
	.barra7 {
		font-size: 18px;
	}

	.texto-info li p {
		font-size: 15px;
	}

	.texto-info h2 {
		margin-top: 2rem;
		font-size: 35px;
		text-align: center;
		margin-bottom: 1rem;
	}

	.texto-info p {
		font-size: 20px;
		margin-bottom: 1rem;
		text-align: center;
	}

	.texto-info .borde-li2 {
		border-top: 2px solid white;
	}

	.img-info {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 2rem;
		align-self: flex-start;
	}
	.lista-provedor {
		width: 30%;
		background-color: rgba(0, 0, 0, 0.089);
		padding: 30px 30px;
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	.lista-provedor ul li {
		padding: 1.5rem 0;
		width: 100%;
	}

	.lista-provedor ul li h4 {
		font-size: 16px;
	}

	.lista-provedor ul li i {
		font-size: 16px;
	}

	.lista-provedor .h-d {
		display: flex;
		margin-bottom: 1rem;
	}

	.separador-p {
		border-top: 2px dashed rgba(128, 128, 128, 0.288);
		border-left: none;
	}

	.img-info img {
		width: 80%;
	}
	.lista-provedor ul {
		display: flex;
		flex-direction: column;
	}
	.provedor-container {
		display: flex;
		flex-direction: row;
	}
	.imagen-boton {
		width: 60%;
	}
	.planes-salud .planes {
		flex-direction: row;
	}
	.planes-salud .planes a {
		width: 30%;
	}
	.planes-salud .planes a:hover {
		width: 33%;
	}
	.footer {
		align-items: center;
		font-size: 14px;
	}
	
	.contacts a {
		margin-left: 1rem;
	}
	.img-info img {
		width: 50%;
	}
}

/*Responsive Laptop*/
@media (min-width: 1280px) {
	.img-info img {
		width: 80%;
	}
	header {
		height: 60rem;
	}
	@keyframes cambio {
		0% {
			margin-left: 0;
		}
		25% {
			margin-left: -28%;
		}
		25% {
			margin-left: -28%;
		}
		50% {
			margin-left: -56%;
		}
		50% {
			margin-left: -56%;
		}
		75% {
			margin-left: -84%;
		}
		75% {
			margin-left: -84%;
		}
		100% {
			margin-left: -92%;
		}
	}

	.lista-provedor p {
		font-size: 14px;
	}
	.banner {
		margin-top: 23rem;
	}

	.banner-content {
		width: 60%;
		margin-right: 25rem;
	}

	.banner h1 {
		font-size: 50px;
	}
	.banner h2 {
		margin-top: 0.5rem;
		font-size: 40px;
	}
	.banner h3 {
		margin-top: 1rem;
		font-size: 35px;
	}
	svg {
		margin-top: 1rem;
		width: 50px;
	}

	.texto-info li p {
		font-size: 20px;
	}

	.texto-info h2 {
		margin-top: 2rem;
		font-size: 35px;
		text-align: center;
		margin-bottom: 1rem;
	}

	.texto-info p {
		text-align: justify;
		font-size: 22px;
		margin-bottom: 1rem;
	}
	.texto {
		display: flex;
		flex-direction: row;
	}
	
	.texto .img-sec1 {
		width: 35%;
	}
	
	.texto .img-sec1 img {
		display: block;
		width: 100%;
	}
	
	.texto .texto-sec1 {
		width: 64%;
	}
	.informacion {
		flex-direction: row;
	}
	.footer {
		align-items: center;
		font-size: 16px;
	}
	
	.contacts a {
		margin-left: 1rem;
	}
}

/*Responsive para mi pantalla :)*/
@media (min-width: 1366px) {
	header {
		height: 48rem;
	}
	.banner {
		margin-top: 15rem;
	}
	svg {
		margin-top: -1rem;
		width: 50px;
	}

}